.result {
    width: 100%;
    height: 100vh;
    background-color: aquamarine;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.resultLeft {
    width: 60%;
    height: 80%;
    background-color: #ffffff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.same {
    width: 80%;
    height: 10%;
    margin: 2% 10%;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
}

.numberOfQuestion {
    background-color: #d6e4f9;
    border: 3px solid #283B75;
    color: #283B75;
}

.currectAnswer {
    background-color: #FFEABE;
    border: 3px solid #FDB827;
    color: #FDB827;
}

.wrongAnswer {
    background-color: #FFF3F5;
    border: 3px solid #F3364C;
    color: #F3364C;
}

.totalScore {
    background-color: rgba(127, 255, 212, 0.329);
    border: 3px solid aquamarine;
    color: rgb(88, 233, 184);
}

.resultRight {
    width: 30%;
    height: 80%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.circle {
    width: 200px;
    height: 200px;
    font-size: 42px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}


@media (max-width: 768px) {
    .result {
        background-color: #ffffff;
        flex-direction: column;
    }

    .resultLeft {
        width: 100%;
        height: 50%;
        background-color: #ffffff;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
    }

    .same {
        width: 80%;
        height: 10%;
        margin: 2% 10%;
        border-radius: 10px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 20px;
        font-weight: 600;
    }

    .numberOfQuestion {
        background-color: #d6e4f9;
        border: 3px solid #283B75;
        color: #283B75;
    }

    .currectAnswer {
        background-color: #FFEABE;
        border: 3px solid #FDB827;
        color: #FDB827;
    }

    .wrongAnswer {
        background-color: #FFF3F5;
        border: 3px solid #F3364C;
        color: #F3364C;
    }

    .totalScore {
        background-color: rgba(127, 255, 212, 0.329);
        border: 3px solid aquamarine;
        color: rgb(88, 233, 184);
    }

    .resultRight {
        width: 100%;
        height: 50%;
    }

    .circle {
        width: 200px;
        height: 200px;
        font-size: 42px;
        font-weight: 600;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: aquamarine;
    }
}